In [1]:
# 1. Convert a integer to a floatig-poit number.
num =22
floating = float(22)
print(floating)

22.0

In [4]:
# 2.Convert a float to a integer.
float_num = 3.14962
num = int(float_num)
print(num)

3

In [5]:
# 3.Convert a integer to a string.
num = 24
string = str(num)
print(string)

24
<class 'str'>

In [17]:
# 4.Convert a list to a tuple.
my_list = [2,3,4,5,6,7]
tuples = tuple(my_list)
print(tuples)

(2, 3, 4, 5, 6, 7)

In [19]:
# 5.Convert a tuole to a list.
my_tuple = (1,2,3,4,56,4)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 56, 4]

In [20]:
# 6.Convert a decimal number to binary.
decimal_no = 6
binary_no = bin(decimal_no)
print(binary_no)

0b110

In [21]:
# 7.Convert a non-zero number to boolean.
non_zero_no = 234
boolean_no = bool(non_zero_no)
print(boolean_no)
print(

True